.movieCard{
    box-shadow: 1px 1px 4px;
    border-radius: 10px;
    margin: 15px;
    padding: 7px;
    display: flex;
    align-items: center;
}

.movieCard:hover{
    box-shadow: 1px 1px 8px;
}

.movieCard img {
    max-height: 200px;
    margin: 15px;
}