body{
  background-color: #1E1E1E;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

.container{
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 1200px;
  padding: 20px;
}

.filter{
  background-color: #e04545;
  padding: 12px;
  margin: 16px;
  border-radius: 10px;
  min-width: 220px;
  height: fit-content;
  position: sticky;
  top: 103px;
}

@media screen and (max-width: 850px) {
  .container{
    flex-direction: column;
    padding: 0px;
  }
  .filter{
    top: 59px;
    left: 0px;
    padding: 0px 12px;
    border-radius: 0px;
    left:-20px;
    margin: 0px;
  }
}

.scrollUp{
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  background-color: #e04545;
  color:#ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
}

.scrollUp:hover{
  cursor: pointer;
}

.movies{
  display: flex;
  flex-direction: column;
  justify-content: center;
}