body{
  background-color: #1E1E1E;
  color: white;
}

.container{
  display: flex;
  max-width: 1200px;
  padding: 12px;
}

.filter{
  position: fixed;
  display: block;
  left: 0;
  background-color: #e04545;
  padding: 12px;
  margin: 16px;
  border-radius: 10px;
}

.spacer{
  min-width: 250px
}

.scrollUp{
  position: fixed;
  display: block;
  width: 40px;
  height: 40px;
  right: 15px;
  bottom: 15px;
  background-color: #e04545da;
  color:#ffffff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
}

.scrollUp:hover{
  cursor: pointer;
}